*,
*:before,
*:after
  box-sizing: border-box

html
  font-size: 10px

body
  position: relative
  background-color: $color-accent2
  font-family: "JosefinSans", Helvetica, sans-serif
  color: $color-light

.container
  max-width: 1170px
  margin: 0 auto

img
  max-width: 100%
  height: auto

h1, h2, h3, h4, h5, h6, p
  margin-top: 0
  margin-bottom: 0
  word-break: break-word

ul
  list-style-type: none
  margin: 0
  padding: 0

.link
  word-break: break-word
  text-decoration: none
  &:hover
    text-decoration: none


/*=== Buttons ===*/
.button
  outline: none
  border: none
  text-align: center
  cursor: pointer
  word-break: break-word
  text-decoration: none

button
  &:active, &:focus
    outline: none
    border: none
    padding: 0

/*=== PHPMailer Message ===*/
.message
  padding: 20rem 0
  &-wrapper
    max-width: 90rem  
    margin: 0 auto
  &__text
    text-align: center
    @include paragraph-text($font-size: 2.4rem)
  &__link
    color: $color-accent
    &:hover
      text-decoration: underline
