/*=== Text Styles ===*/
@mixin section-title($font-size: 3.6rem, $text-transform: uppercase)
  position: relative
  font-family: "Play"
  font-style: normal
  font-weight: 700 
  font-size: $font-size
  text-transform: $text-transform
  color: $color-light

@mixin section-title-after()
  content: ""
  position: absolute
  bottom: -2.5rem
  display: block
  width: 7rem
  height: 0.5rem
  background-color: $color-accent

@mixin section-suptitle($font-size: 1.6rem)
  font-family: "JosefinSans"
  font-style: normal
  font-weight: 400 
  font-size: $font-size
  letter-spacing: 2px
  text-transform: uppercase
  color: $color-light

@mixin paragraph-text($font-size: 1.6rem)
  font-family: "JosefinSans"
  font-style: normal
  font-weight: 400 
  font-size: $font-size
  line-height: $font-size * 1.625
  color: $color-grey
  

/*=== Buttons ===*/
@mixin button-primary()
  position: relative
  display: inline-block
  font: normal 700 1.5rem "Play"
  padding: 1.5rem 3rem
  text-transform: uppercase
  letter-spacing: 2px
  color: $color-light
  &:hover
    &::after, &::before
      width: 100%
      height: 100%
      transition: height 0.8s ease, width 0.8s ease
  &::after, &::before
    content: ""
    position: absolute
    z-index: 10
    width: 3rem
    height: 3rem
    background: transparent
  &::before
    top: 0
    left: 0
    border-top: 2px solid $color-accent
    border-left: 2px solid $color-accent
  &::after
    bottom: 0
    right: 0
    border-bottom: 2px solid $color-accent
    border-right: 2px solid $color-accent
