@media (max-width: 575px)
  .intro
    &__item
      padding-bottom: 4rem
    &__title
      margin-bottom: 2rem
      font: normal 700 3rem/3.8rem "Play"

  .services
    &__info
      margin-bottom: 3rem
    &__title
      margin-bottom: 3rem
    &__text
      margin-bottom: 1rem
    &__cards
      width: 100%
    .card
      width: 100%
