@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%

  .intro
    padding: 16rem 0 8rem
    &__item
      max-width: 100%
      padding-bottom: 6rem
    &__title
      margin-bottom: 2.5rem
      font: normal 700 4rem/5rem "Play"
    .owl-carousel
      .owl-dots
        bottom: 0

  .services
    padding: 9rem 0 6rem
    &__info
      margin-bottom: 4rem
    &__title
      margin-bottom: 4rem
    &__text
      margin-bottom: 2rem
    &__cards
      width: 100%
    &__card
      margin-bottom: 3rem
    .card
      &__title
        font-size: 2rem

  .work
    &-wrapper
      grid-template-columns: repeat(3, 1fr)

  .counter
    padding: 4rem 0
    &-row
      &:first-child, &:last-child
        .counter
          &__item
            height: 28.8rem
            &:first-child, &:last-child
              width: 100%
              padding: 3rem 2rem
              border: none

  .team
    padding: 8rem 0 4rem
    &__cards
      .card
        height: 32rem

  .blog
    padding: 8rem 0 4rem
    &__slider
      .card
        width: 99%
        min-height: 24rem
        padding: 3rem

  .cta
    padding: 8rem 0
    &__title
      max-width: 100%
      font-size: 3.6rem
    &__text
      margin-bottom: 3rem

  .footer
    &-wrapper
      padding: 5rem 0
    .footer-item
      &:nth-child(1)
        width: 70%
        padding-right: 3rem
      &:nth-child(2)
        width: 30%
      &:nth-child(3)
        width: 30%
      &:nth-child(4)
        width: 70%
        padding-right: 3rem
      &__title
        margin-bottom: 2rem
    &-copyright
      flex-direction: column
      &__text
        text-align: center
        &:first-child
          margin-bottom: 1rem
          margin-right: 0
          &::after
            display: none

  .breadcrumb
    padding: 16rem 0 8rem

  .about
    padding: 8rem 0 6rem

  .testimonials
    padding: 8rem 0 6rem
    .card
      width: 96%
      &__content
        margin-bottom: 2rem
      &__author
        padding-left: 2rem
    .owl-carousel 
      .owl-dots
        margin-top: 3rem

  .portfolio
    padding: 6rem 0
    &__nav
      &-link
        padding: 0.5rem
    &__items
      grid-template-columns: repeat(1, 1fr)
    &__image-wrapper
      height: 28.8rem
