@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%

  .intro
    padding: 16rem 0 8rem
    &__item
      max-width: 100%
      padding-bottom: 6rem
    &__title
      margin-bottom: 2.5rem
      font: normal 700 4rem/5rem "Play"
    .owl-carousel
      .owl-dots
        bottom: 0
